# Ignore the virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django secret key and database
*.sqlite3
*.env

# Ignore IDE-specific files
.vscode/
.idea/